
@{
    ViewBag.Title = "Create";
}
<a href="/Partner/List">Partner List</a>

<h2>Create Partner</h2>

<form action="/Partner/Create" method="Post">
    <div>
        <label for="name">Name:</label><input id="name" name="Name" type="text"/>
    </div>
    <button type="submit">Create</button>
</form>

