@model PassionProject.Models.ConsultantDto
@{
    ViewBag.Title = "Edit";
}
<a href="/Consultant/List">Consultant List</a>


<h2>Edit Consultant</h2>

<form action="/Consultant/Edit/@Model.Consultant_Id" method="Post">
    <fieldset>
        <legend>General Information</legend>
        <div>
            <label for="f_name">First Name:</label><input id="f_name" name="First_Name" type="text" value=@Model.First_Name />
            <label for="l_name">Last Name:</label><input id="l_name" name="Last_Name" type="text" value=@Model.Last_Name />
            <input id="Consultant_Id" name="Consultant_Id" type="hidden" value=@Model.Consultant_Id />
        </div>

        <div>
            <label for="mobile">Mobile Number:</label><input id="mobile" name="Mobile_Number" type="text" value=@Model.Mobile_Number>
        </div>
        <div>
            <label for="email">Email:</label><input id="email" name="Email" type="text" value=@Model.Email />
        </div>
        <div>
            <label for="address">Address:</label><input id="address" name="Address" type="text" value=@Model.Address />
        </div>
    </fieldset>
    <fieldset>
        <legend>Job Information</legend>

        <div>
            <label for="wage">Wage:</label><input id="wage" name="Wage" type="number" step=".01" min="0" value=@Model.Wage>
        </div>
        <div>
            <label for="hire_date">Hire Date:</label><input id="hire_date" name="Hire_date" type="datetime" value="@Model.Hire_date.ToShortDateString()">
        </div>
        <div>
            <label for="partner">PartnerId:</label><input id="partner" name="PartnerId" type="number" value=@Model.PartnerId >
        </div>
    </fieldset>

    <button type="submit">Edit</button>
</form>